<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /PTUD_Final/public/

    # Chỉ xử lý các request mà file hoặc thư mục tương ứng không tồn tại
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>